.App {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.App-menu {
  padding: 0;
}

.App-menu li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.App-form {
  max-width: 500px;
}
